body {
    width: 100%;
    height: 100%;
}

#digital-body {
    position: absolute;
    width: 360px;
    height: 360px;
    top: 0px;
    left: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

#battery-rec {
    position: absolute;
    width: 10%;
    height: 5%;
    top: 20%;
    left: 63%;
    border: solid 2px white;
}

#battery-fill {
    position: absolute;
    width: 11%;
    height: 6%;
    top: 20%;
    left: 63%;
    z-index: 10;
    background-color: white;
}

/*
hour&minutes
*/

#rec-time {
    position: absolute;
    width: 80%;
    height: 30%;
    top: 25%;
    left: 12%;
}

#str-hours {
    font-size: 550%;
    float: left;
    color: white;
}

#str-console {
    font-size: 550%;
    float: left;
    color: white;
}

#str-minutes {
    font-size: 550%;
    float: left;
    color: white;
}

#str-ampm {
    font-size: 200%;
    color: white;
    padding-top: 20%;
}


/*
string day & month
*/

#rec-string-time {
    position: absolute;
    height: 30%;
    top: 60%;
    left: 24%;
}

#str-day {
    font-size: 250%;
    color: white;
    float: left;
}

@media screen and (-tizen-geometric-shape: circle) {
#str-hours {
    font-size: 600%;
}

#str-console {
    font-size: 600%;
}

#str-minutes {
    font-size: 600%;
}

#rec-string-time {
    left: 80px;
}
}